
main {
    margin: 0 auto;
    margin:10em;
    padding: 1em;
    width: 90%;
    /* height: 100%; */
    color: var(--main-fonts-color);
    overflow: hidden;
    text-align: center;
    background-color: #fff;
}

.home {
    background: var(--main-background);
    color: white;
}

nav {
    padding: 2em;
}

nav div {
    float: left;
    min-width: 20vw;
    font-size: 4rem;
}

nav .menu-main {
    float: right;
    min-width: 40vw;
}


.logo {
    font-size: 2rem;
}

.menu-main {
    list-style: none;
    position: relative;
    display: none;
    /* display: inline-flex; */
}



.hamburger {
    width: 10px;
    height: 25px;
    position: absolute;
    top: 3rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger .line {
    width: 5px;
    height: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: crimson;
    border: solid 1px black;
}

a.nav-link {
    margin: 2px;
    padding: 5px 10px;
    text-decoration: none;
    color: var(--main-fonts-color);
    cursor: pointer;
    text-transform: uppercase;
}

header {
    position: relative;
}

.intro {
    position: absolute;
    top: 10em;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#videoBG {
    position: fixed;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
}

.galerie {
    margin: 0 auto;
    max-width: 80vw;
    text-align: center;
}

.galerie img {
    margin: 2em;
    width: 200px;
    height: auto;
    border: 1px solid grey;
}

footer {
    margin: 0 auto;
    text-align: center;
    max-width: 80vw;
}


/**  Quand l'écran est trop large. 
  * Nous devons maintenir la largeur à 100 % et mettre à l'échelle la hauteur. Nous pouvons y parvenir en utilisant min-aspect-ratio 16/9.
  */

@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width: 100%;
        height: auto;
    }
}


/** 
  
  Inverse lorsque le ratio d'écran est inférieur à 16/9. Hauteur maintenue à 100% et largeur automatique.
  
  */

@media (max-aspect-ratio: 16/9) {
    #videoBG {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 767px) {
    #videoBG {
        display: none;
    }
    header {
        margin: 0 auto;
        width: 100%;
        height: auto;
        min-height: 20vh;
    }
    body {
        
        background: url('..nushicafe/poster.png');
        background-size: cover;
    }
}

@media screen and (min-width:320px) {
    /* on change la couleur du texte  pour le rendre visible sur fond blanc */
    /* .home {
        background: var(--main-background);
        color: black;
    } */
    header {
        margin: 0 auto;
        width: 100%;
        height: auto;
        /* min-height: 80vh; */
    }
    /*on reduit la taille des lettres du menu*/
    nav div {
        float: left;
        /* min-width: 20vw; */
        font-size: 1rem;
    }
    a.nav-link {
        margin: 1px;
        padding: 2px 5px;
        text-decoration: none;
        color: var(--main-fonts-color);
        cursor: pointer;
        text-transform: uppercase;
    }
    header {
        position: static;
        text-align: center;
    }
    .intro {
        position: absolute;
        top: 10em;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
}

@media screen and (min-width:640px) {
    .home {
        background: var(--main-background);
        color: white;
    }
    .menu-main {
        display: inline-flex;
    }
    .hamburger {
        display: none;
    }
     /* main{
        margin-top: 20em;
        position: absolute;
        top: 10em;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        background-color: coral;
    }  */
    
}