*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  :root{
    /*--main-background: #0b0c0f;*/
    --main-fonts-color: #fff;
  }
  
  html,
  body {
    font-family: "Open Sans", sans-serif;
    color: #222;
  }
  
  h1,
  h2,
  h3 {
    margin-bottom: 20px;
  }
  
  
  
  header{
      margin: 0 auto;
      width: 100%;
    min-height:80vh;
  }
  
  main{
    margin: 0 auto;
      padding: 1em;
      width: 90%;
      height: 100%;
      color: var(--main-fonts-color);
    overflow:hidden;
    text-align:center;
  }
  
  
  nav{
    padding:2em;
  }
  
  nav div{
    float:left;
    min-width:20vw;
    font-size: 4rem;
  }
  
  nav .menu-main{
    float:right;
    min-width:40vw;
  }
  
  .home{
    background: var(--main-background);
    color:white;
  }
  
  .menu-main{
      list-style:none;
      position: relative;
      display:none;
      /* display: inline-flex; */
  }

.hamburger{
    width: 10px;
    height:50px;
   
}

.hamburger .line1{
    width: 5px;
    height:2px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: crimson;
    border : solid 1px black;
}
  
.hamburger .line2{
    width: 5px;
    height:2px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: crimson;
    border : solid 1px black;
}
  
.hamburger .line3{
    width: 5px;
    height:2px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: crimson;
    border : solid 1px black;
}



  a.nav-link{
    margin: 2px;
      padding: 5px 10px;
      text-decoration: none;
      color: var(--main-fonts-color);
      cursor: pointer;
      text-transform: uppercase;
  }
  
    header{
      position:relative;
    }
  
    .intro{
      position:absolute;
      top:10em;
      left: 50%;
      transform: translateX(-50%);
      text-align:center;
    }
  
  
  #videoBG {
      position:fixed;
      z-index: -1;
      min-width:100%;
      min-height:100%;
  }
  
  
  .galerie{
  margin:0 auto;
  max-width:80vw;
  text-align:center;
  }
  
  .galerie img{
  margin:2em;
  width:200px;
  height: auto;
  border: 1px solid grey;
  }
  
  
  
  footer{
    margin: 0 auto;
    text-align:center;
    max-width:80vw;
  }
  
  /**  Quand l'écran est trop large. 
  * Nous devons maintenir la largeur à 100 % et mettre à l'échelle la hauteur. Nous pouvons y parvenir en utilisant min-aspect-ratio 16/9.
  */
  
  @media (min-aspect-ratio: 16/9) {
      #videoBG {
          width:100%;
          height: auto;
      }
  }
  
  /** 
  
  Inverse lorsque le ratio d'écran est inférieur à 16/9. Hauteur maintenue à 100% et largeur automatique.
  
  */
  
  @media (max-aspect-ratio: 16/9) {
      #videoBG { 
          width:auto;
          height: 100%;
      }
  }
  
  
  @media (max-width: 767px) {
      /* #videoBG {
          display: none;
      } */
      body {
          background: url('poster.jpg');
          background-size: cover;
      }
  
  
  }

  @media screen and (min-width:320px) {
      
      /*on reduit la taille des lettres du menu*/
      nav div{
        float:left;
        min-width:20vw;
        font-size: 1rem;
        background-image: url("/nushicafe/icons/free-hamburger-icon-5.jpg");
         

      }




      a.nav-link{
        /* margin: 1px;
          padding: 2px 5px;
          text-decoration: none;
          color: var(--main-fonts-color);
          cursor: pointer;
          text-transform: uppercase; */

      }
      .hamburger {
         display:none;
      }
      .menu-main{
        display:inline-flex;
    }


  }

  @media screen and (min-width:640px) {

    .menu-main{
        display:inline-flex;
    }

    
  }
  