* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e2e1e0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.container {
    padding-top: 50px;
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    display: inline-block;
    background-color: violet;
    border-radius: 5px;
    /* display: inline-block; */
    /* height: 400px; */
    width: 410px;
    margin-bottom: 4rem;
    /* width: 450px; */
    /* -webkit-box-shadow: 7px -5px 10px 0px #4B0082, 11px -9px 10px 0px #0000FF, 16px -14px 10px 0px #00FF00, 20px -17px 10px 0px #FFFF00, 24px -19px 10px 0px #FF7F00, 27px -23px 10px 0px #FF0000, 5px 5px 15px 5px rgba(3, 135, 36, 0); */
    box-shadow: 7px -5px 10px 0px #4B0082, 11px -9px 10px 0px #0000FF, 16px -14px 10px 0px #00FF00, 20px -17px 10px 0px #FFFF00, 24px -19px 10px 0px #FF7F00, 27px -23px 10px 0px #FF0000, 5px 5px 15px 5px rgba(3, 135, 36, 0);
}

.card-1 {
    order: 1;
    /* flex-grow: 1; */
    flex-basis: 59vw;
}

.card-2 {
    order: 3;
    /* flex-grow: 1; */
}

.card-3 {
    order: 2;
    /* flex-grow: 1; */
}

.card-4 {
    order: 4;
    /* flex-grow: 1; */
}

.titre-produit {
    font-weight: 600;
    color: black;
}

.gamme-produit {
    font-weight: 600;
    color: rgb(24, 21, 21);
    font-style: italic;
}