*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}
body {
    background: #e2e1e0;
    text-align: center;
  }

.container {
    display: flex;
}

.card {
    background-color: violet ;
    border-radius: 2px;
    /* display: inline-block; */
    /* height: 400px; */
    margin: 1rem;   
    /* width: 450px; */
    -webkit-box-shadow: 7px -5px 10px 0px #4B0082, 11px -9px 10px 0px #0000FF, 16px -14px 10px 0px #00FF00, 20px -17px 10px 0px #FFFF00, 24px -19px 10px 0px #FF7F00, 27px -23px 10px 0px #FF0000, 5px 5px 15px 5px rgba(3,135,36,0); 
box-shadow: 7px -5px 10px 0px #4B0082, 11px -9px 10px 0px #0000FF, 16px -14px 10px 0px #00FF00, 20px -17px 10px 0px #FFFF00, 24px -19px 10px 0px #FF7F00, 27px -23px 10px 0px #FF0000, 5px 5px 15px 5px rgba(3,135,36,0);
  }
